@import 'tailwindcss';

@theme {
  --color-background: var(--color-zinc-100);
  --color-surface: var(--color-white);
  --color-foreground: var(--color-zinc-900);
}

:root {
  color-scheme: light dark;
  color: var(--color-foreground);
  background: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-zinc-950);
    --color-surface: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
  }
}
